@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 
body{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: auto;

}

.row{
    display: flex; /*The flex container becomes flexible by setting the display property to flex:*/
    flex-wrap: wrap;

}






header{
    position: absolute; /*The element is positioned relative to its first positioned (not static) ancestor element*/
    left: 0px;
    right:0px;
    border-bottom: 1px solid #423940;
    background-color: rgba(85, 54, 54, 0.3);  
    padding: 0px 15px;
    z-index: 10; /* property specifies the stack order of an element.*/
}

header .row{

    justify-content: space-between;
    align-items: center; /*grounp children in the center*/
}

header .brand-name a{
    text-decoration: none;
    font-size:  22px;
    font-weight: 600;
    color: white;
    /*text-transform: uppercase;*/
    position: relative; /*The element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position*/

}


header .navbar ul{ /*list container mod*/
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block; /*one row table*/
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 20px;
    text-decoration: none; /*Sets the kind of text decoration to use (like underline, overline, line-through)*/
    line-height: 72px;
    color: white;
    display: block; /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/
    font-weight: 600;
    position: relative;
}

header .navbar ul li a::before{ /* inserts something before the content of each selected element(s).*/
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute; /*The element is positioned relative to its first positioned (not static) ancestor element*/
    left: 0px;
    bottom: 0px;
    transition: all 0.2s ease;

}


header .navbar ul li a:hover:before{ 
    width: 100%;
    left:0; /*wired bug where there is some left over white line*/
}

header .navbar ul li a.active::before{  /*A link becomes active when you click on it.*/
    width: 100%;
    left:0; /*wired bug where there is some left over white line*/
}





/*Home*/

.home{
    min-height: 100vh; /*Relative to 1% of the height of the viewport**/
    background-image: url("Images/Fruit.jpg");
    background-size: cover;
    background-position: center;
    padding:15px;
}

.home .full-screen{

    min-height: 100vh;
    
}

.home .home-content{

    flex: 0 0 100%; /*flex has 3 property  flex-grow flex-shrink flex-basis;*/
    /*flex-grow A number specifying how much the item will grow relative to the rest of the flexible items*/
    /*flex-shrink 	A number specifying how much the item will shrink relative to the rest of the flexible items*/
    /*flex-basis 	The length of the item. Legal values: "auto", "inherit", or a number followed by "%", "px", "em" or any other length unit*/
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.home .home-content .block{


    flex:0 0 75%;
    max-width:75% ;
    padding-left: 20px;
    border-left: 5px solid white;

    
}
.home .home-content .block h6{

    color: white;
    font-size: 25px;
    font-weight: 500; /*imported font*/
    margin: 0;  /*properties are used to create space around elements, outside of any defined borders. top right bottom  left*/ 
    padding: 0;
    
}
.home .home-content .block h1{

    color: white;
    font-size: 65px;
    font-weight: 600; /*imported font*/

    padding: 0;
    
}
.home .home-content .block h3{

    color: white;
    font-size: 30px;
    font-weight: 500; /*imported font*/
    margin: 0;
    padding: 0;
    
}

.home .home-content .block .github-btn{

    padding-top: 10px;
}


.home .home-content .block .github-btn a{

    border-radius: 10px;
    color: white;
    border:3px solid white;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600; /*imported font*/

    transition: all .2s ease; /*CSS transitions allows you to change property values smoothly, over a given duration.*/
    background-color: transparent;
}

.home .home-content .block .github-btn a:hover{

    background-image: url("Images/GitHub-Mark.png");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;


    background-color: white;
    color: rgba(0, 0, 0, 0);
}




/*About me*/
.about-me{
    padding: 100px 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: -80px;
}

.about-me .section-title{
    flex:0 0 100%;
    max-width: 100%;
    margin: 0 0 10px;
    padding-bottom: 5px;
}

.about-me .section-title h1{

    display:inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.about-me .section-title p{

    display:block;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(109, 109, 109);
    font-weight: 400;
    letter-spacing: 2px;
}



.about-me .about-content .img{
    flex: 0 0 33%; /*resize the image*/
    max-width: 33%;
}

.about-me .about-content .img img{
    width: 100%;
    display: block;


}

.about-me .about-content .text{
    flex: 0 0 66%;
    max-width: 66%;
   padding-left: 55px;
}

.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;

}

.about-me .about-content .text h6{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 15px;
    
}

.about-me .about-content .text h6 span{
    color: rgb(255, 72, 0);
    
}

.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin: 0;
    
}

.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    
}

.about-me .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50%- 15px); /*The calc() CSS function lets you perform calculations when specifying CSS property values.*/
    margin-top: 35px;
    display: flex;
}

.about-me .about-content .text .info .list label{

    font-size: 15px;
    font-weight: 600;

}

.about-me .about-content .text .info .list p{

    margin-left: 15px;

}




.skills{
    padding: 50 px 15px;
}

.skills .skills-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
    
}

.skills .align-items-center{
    align-items: center;
}

.skills .img{
    flex: 0 0 30%;
    max-width: 30%;
    margin-left: 85px;
}

.skills .img img{

    width: 100%;
    display: block;
}

.skills .section-title p{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(109, 109, 109);
    font-weight: 400;
    letter-spacing: 2px;

    
}

.skills .skills-content {
    padding-left: 15px;

}
.skills .skills-content .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 35px;

}

.skills .skills-content .skill-box h6{
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #000000;
}

.skills .skills-content .skill-box .skill-bar{
    
    background-color: rgb(202, 202, 202);
    height: 6px;
    position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color:rgb(255, 137, 91);
    height: 100%;
    position: absolute;

}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

}